<section>
  <h2>Home</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis
    et illo adipisci, ab ex praesentium nulla, aspernatur consectetur harum,
    voluptatem possimus amet enim quos non quo minus iusto ipsam.
  </p>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis
    et illo adipisci, ab ex praesentium nulla, aspernatur consectetur harum,
    voluptatem possimus amet enim quos non quo minus iusto ipsam.
  </p>
</section>
